*.log
*.cache
build
build/output
build/compat-info
build/tmp
build/wp-plugin-dir-svn
build/hook-doc
.vscode/launch.json
.vscode/settings.json
.travis.yml
.phpcs.xml.dist
test-sample.php
bin/install-wp-tests.sh
phpunit.xml.dist
data/help/default
data/help/en_US
data/help/ro_RO
node_modules
node_modules/*
.wc-installed
.lvdwcmc-installed